ul {
    background-color: #050517;
    list-style-type: none;
    height: 100%;
    padding:20px;
}

.fa-dumbbell{
    color: #FFCC00 !important;
}

li:first-child{
    margin-bottom: 7vh;
    margin-top: 5vh;
}

li {
    margin-bottom: 5vh;
    text-decoration: none;
    list-style-type: none;
    border: 1px solid #050517;
    border-radius: 15px;
    height: auto;
    width: auto;
}

a{
    text-decoration: none !important;
    color: #73737F;
}

a:hover{
    color: #FFCC00 
}

i{  
    font-size: 30px;
    width: 100%;
    text-align:center;
}

.form-select{
    margin-top: 5vh;
}

span{
    width: 100%;
    text-align:center;
    font-size: 20px;
    position: relative;
    display: block;
}

.form-select{
    width: 100%;
    height: auto;
    border: 1px solid #050517;
    border-radius: 15px;
    padding: 10px;
    font-size: 1rem;
    color: #050517;
    margin-bottom: 1rem;
    overflow:hidden;
    text-overflow: ellipsis;
}

option{
    font-size: 1rem;
    color: #050517
}
