@import '../../../../../assets/scss/variables';
.btn-add-user{
    color: #fff;
    background-color: $primary;
    border-color: $primary;
    border-radius: 15px;
    margin-left: auto;
    position: relative;
    display: block;
}

.user-list-title{
    font-size: 40px;
    font-weight: bold;
    color: $primary;
    margin-bottom: 20px;
}

.text-muted{
    color: $primary!important;
}

