<div class="card" [ngClass]="gym.selected? 'select':''">
    <div class="card-header">
        <div class="row">
            <div class="col-lg-3">
                <img src="{{gym.imageUrl}}" class="img-card" alt="...">
            </div>
            <div class="col-lg-9">
                <h6 class="header-text text-muted mr-4">{{gym.cityId}}</h6>
            </div>
        </div>
    </div>
    <div class="card-body p-5 mt-2 mb-4">
        <h6 class="text-muted">{{gym.cityId}} {{gym.address}}</h6>
        <h4 class="card-title">{{gym.name}}</h4>
        <p class="card-text">{{gym.email}}</p>
        <div class="col-lg-12 mt-2 mb-3">
            <button type="button" class="btn btn-add-user" (click)="setSelectedGym(gym)" > <i class="fa-thin fa-hand-pointer"></i> Select </button>
        </div>
        <div class="col-lg-12 mt-2">
            <button type="button" class="btn btn-add-user"> <i class="fa-thin fa-pen-to-square"></i> Edit </button>
        </div>
    </div>
</div>