<div class="row p-5 add-user-header">
    <span class="user-list-title"> Add new gym </span>
</div>
<form [formGroup]="gymForm" (ngSubmit)="onSubmit(gymForm)">
    <div class="row p-5">
        <div class="col-lg-12">
            <label for="exampleFormControlInput1" class="form-label">Name<span class="text-danger" *ngIf="gymForm.get('name')!.errors && 
                gymForm.get('name')!.hasError('required')">*</span></label>
            <input type="text" class="form-control" id="name" formControlName="name">
        </div>
        <div class="col-lg-6">
            <label for="exampleFormControlInput1" class="form-label">Phone Number<span class="text-danger" *ngIf="gymForm.get('phone')!.errors && 
                gymForm.get('phone')!.hasError('required')">*</span></label>
            <input type="tel" class="form-control" id="PhoneNumber" formControlName="phone">
        </div>
        <div class="col-lg-6">
            <label for="exampleFormControlInput1" class="form-label">Email<span class="text-danger" *ngIf="gymForm.get('email')!.errors && 
                gymForm.get('email')!.hasError('required')">*</span></label>
            <input type="email" class="form-control" id="email" formControlName="email">
        </div>
        <div class="col-lg-6">
            <label for="exampleFormControlInput1" class="form-label">Country<span class="text-danger" *ngIf="gymForm.get('country')!.errors && 
                gymForm.get('country')!.hasError('required')">*</span></label>
            <select class="form-select" aria-label="Default select example" id="Country" formControlName="country">
                <option value="CR" selected>Costa Rica</option>
            </select>
        </div>
        <div class="col-lg-6">
            <label for="exampleFormControlInput1" class="form-label">City<span class="text-danger" *ngIf="gymForm.get('city')!.errors && 
                gymForm.get('city')!.hasError('required')">*</span></label>
            <select class="form-select" aria-label="Default select example" id="city" formControlName="city">
                <option selected value="0">San José</option>
                <option value="1">Cartago</option>
                <option value="2">Heredia</option>
                <option value="3">Alajuela</option>
            </select>
        </div>
        <div class="col-lg-6">
            <label for="exampleFormControlInput1" class="form-label">Address<span class="text-danger" *ngIf="gymForm.get('address')!.errors && 
                gymForm.get('address')!.hasError('required')">*</span></label>
            <input type="text" class="form-control" id="address" formControlName="address">
        </div>
        <div class="col-lg-6">
            <label for="exampleFormControlInput1" class="form-label">Zip<span class="text-danger" *ngIf="gymForm.get('zip')!.errors && 
                gymForm.get('zip')!.hasError('required')">*</span></label>
            <input type="text" class="form-control" id="zip" formControlName="zip">
        </div>
        <div class="col-lg-12">
            <label for="exampleFormControlInput1" class="form-label">Logo<span class="text-danger" *ngIf="gymForm.get('image')!.errors && 
                gymForm.get('image')!.hasError('required')">*</span></label>
            <input type="file" class="form-control" id="image" formControlName="image">
        </div>
        <div class="col-lg-8 offset-lg-2">
            <button type="submit" [disabled]="gymForm.invalid" class="btn btn-add-user">Create new gym</button>
        </div>
    </div>
</form>