<div class="row p-5">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="col-lg-2">
                <label for="formGroupExampleInput" class="form-label">Filter by status:</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>All Status</option>
                    <option value="1">Active</option>
                    <option value="2">Inactive</option>
                    <option value="3">Close to expire</option>
                </select>
            </div>
            <div class="col-lg-2">
                <label for="formGroupExampleInput" class="form-label">Order by:</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Name</option>
                    <option value="1">Status</option>
                    <option value="2">Date</option>
                    <option value="3">Oldest user</option>
                    <option value="3">Newest user</option>
                </select>
            </div>
            <div class="col-lg-6">
                <label for="formGroupExampleInput" class="form-label">Search for name, identification or email:</label>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</div>